[submodule "packages/multiple-cursors.el"]
	path = packages/multiple-cursors.el
	url = ../multiple-cursors.el
[submodule "packages/symbol-overlay"]
	path = packages/symbol-overlay
	url = ../symbol-overlay
