.DS_Store
.lsp-session*
auto-save-list/
history
.cache/
*~
.vscode
elpa/
transient/
url/
projectile.cache
projectile-bookmarks.eld
image-dired/
recentf
bookmarks
.dir-locals.el
eshell/
.last-package-update-day

# To ignore custom.el changes locally use "git update-index --assume-unchanged custom.el"
# custom.el
