.DS_Store
.lsp-session*
auto-save-list/
history
.cache/
*~
.vscode
elpa/
transient/
url/
custom.el
projectile.cache
projectile-bookmarks.eld
image-dired/
recentf
bookmarks
.dir-locals.el
eshell/
.last-package-update-day